body{
    font-family: 'Roboto', sans-serif;
    text-align:center;
}

h1{
    font-size:72px;
    font-weight: 900;
    padding:10px;
}

p{
    font-size:24px;
    padding:10px;
}


nav{
    width:100%;
    padding:10px
}

#high-score{
    position:relative;
    top:0;
    left:0;
    float:left;
    width:50%;
}

#timer{
    float:left;
    width:50%;
}

#question-container{
    position:relative;
    left:140px;
    width:80%;
    background-color:white;
    padding:25px;
    margin-top:50px;
    border:black solid 1px;
    border-radius: 25px;
    box-shadow:0 0 10px 3px;
}

#question{
    padding:10px;
}

.btn{
    width:100%;
    padding:10px;
    font-weight:bold;
    font-size:36px;
    margin:5px;
    border: black solid 1px;
    color:white;
    background-color: midnightblue;
}

#start-button{
    width:80%;
    padding:25px;
    margin-top:50px;
}

.hide{
    display:none;
}

.clearfix{
    overflow:auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
